html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif; 
    background: rgb(238, 238, 238);
}

#page-content{
    width: 100%;
    height: 100%;
    display: inline-block;
    /* justify-content:center; */
    /* place-items: center; */
}

/*    <~~~ NAVIGATION start ~~~~   */

.navBar{
    width: 100%;
    display: inline-block;
    min-height: 55px;
    background: rgb(238, 238, 238);
    justify-content: center;
}
.navBar-left{
    display: inline-block;
    width: 28%;
}
#header-logo{
    display: inline-block;
    width: 95%;
    height: auto;
    margin: 0.2em 1em;
    cursor: pointer;
}
.navBar-center{
    width: 40%;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0.5em 0;
    text-align: center;
}
#navBar-pageTitle {
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
}
.navBar-right{
    display: block;
    float: right;
    width: 28%;
    height: auto;
}
.navButton-toggle{
    height: 44px;
    width: 44px;
    position: relative;
    display: block;
    margin: 0.5em 0.5em;
    float: right;
    padding: 3px 6px;
    background: transparent;
    border: 3px solid #555;
    border-radius: 8px;
}
.navButton-Line{
    background:#555;
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 1px;
    margin: 5px 0;
}
.navBar-show{
    display: inline-block;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: openNavBar;
}
@keyframes openNavBar{
    0%  {opacity: 0%; }
  100%  {opacity: 100%; }
}
nav{
    display: none;
    margin: 0 auto;
    width: 100%;
}
nav > ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
nav > ul > li{
    display: inline-block;
}
nav > ul > li > a{
    display: inline-block;
    padding: 0.8em;
    text-align: center;
}
nav > ul > li > a:hover{
    cursor: pointer;
    background: #333;
    color: #fff
}
.activePage{
    cursor: pointer;
    background: #333;
    color: #fff
}


/*    ~~~~ NAVIGATION end ~~~>   */

/*    ~~~~ HOME start ~~~>   */

main{
    min-height: 80%;
    width: 100%;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#welcome{
    width: 100%;
    margin-top: 10em;
    opacity: 0; 
}
#welcome > h1{
    margin: 0 auto;
    height: auto;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;   
} 
.welcome-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.welcome-buttons > a{
    width: 10em;
    padding: 0.5em 0;
    margin: 0.2em;
    border: 0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    color: #FFFFFF;
    border-color: rgb(255, 255, 255);
    transition: all 0.15s;
    background: rgba(255, 255, 255, 0.257);
}
.welcome-buttons > a:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    background:#dddddd25;
    cursor: pointer;
}
.welcome-buttons > a:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    background: rgba(187, 187, 187, 0.384);
}

/*    ~~~~ HOME end ~~~>   */

/*    <~~~ FOOTER start ~~~~   */
footer{
    width: 100%;
    background: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    text-align: center;
}

.fa-envelope, .fa-phone, .fa-instagram, .fa-facebook-f{ 
    margin: 0.6em;
    color: rgb(78, 78, 78); 
    font-size: 1.5em;  
}

.fas:hover, .fab:hover, .far:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
/* Adding GitHub icon font-size */
.fa-github{
    font-size: 1em;
}
.footer_center > p > a{
    color: rgb(0, 0, 0);
}

/*    ~~~~ FOOTER end ~~~>   */


/*    <~~~ PORTFOLIO start ~~~~   */

.portfolioMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portfolioLeft, .portfolioRight{
    margin: 1em 1%;
}
.portfolioRight{
    float: right;
    position: relative;
    right: 0%;
}
.portfolio-box{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
}
#portfolioGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
div.subPortfolio { 
    width: 80%; 
    height: auto; 
    padding: 0.5%; 
    margin: 1em; 
    background: rgba(255, 255, 255, 0.900);
    text-align: center; 
    border-radius: 2%;
}
.subPortfolio > p {
    margin: 1% 5%;
}
.subPortfolio:hover{
    transform: scale(1.05); 
    cursor: pointer;
}
.project-img{
    width: 80%;
    height: auto;
    margin: 1.5em 1.5em 0 1.5em;
    border-radius: 2%;
}
.fa-arrow-left, .fa-arrow-right{
    color: rgb(255, 255, 255);
    transition: all 0.15s;
    cursor: pointer;
    opacity: 0.5;
    font-size: 3em;
}
.fa-arrow-left:hover, .fa-arrow-right:hover{
    color:#cececeaf;
}



/* ---------------- ANVÄNDS DESSA???? -------------------
 .project-image{
    width: 500px;
    height: auto;
    margin: 5% 0 0 0;
    padding: 0;
} 
 .btn-img:hover img { 
    opacity: 0.8;
} ------------------------------------------------------*/



/*    <~~~ PROJECT ABOUT start ~~~~   */


.projectdiv {
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
}
.project-content{
    background: rgba(255, 255, 255, 0.900);
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 2;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
}
.slideshow-image{
    width: 80%;
    margin: 10% 1% 0;
    max-height: 100%;
    min-height: 50%;
    max-width: 100%;
    object-fit: cover;
}
.project-content-top{
    position:relative;
    width: 100%;
    height: auto;
}
.fa-play, .fa-pause{ 
    visibility: hidden;
    font-size: 40px;
    color: rgba(238, 230, 230, 0.800);
    position: absolute;
    top: 50%; /* Får ej knapparna i mitten!!!! */
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
}
.fa-play:hover, .fa-pause:hover{
    color: rgba(255, 255, 255, 0.700);
} 
.project-content-bottom{
    width: 100%;
    height: auto;
    margin: 0 1%;
    padding: 0;
    text-align: center;
    justify-content: center;
}
.project-content-bottom > h2, .project-content-bottom > h3, .project-content-bottom > p{
    width: 60%;
    padding: 0;
    margin: 0 20%;
}
.project-content-bottom > h2{
    text-align: center;
}
.project-content-bottom > hr{
    width: 60%;
    margin: 1% 20%;
    color: rgb(0, 0, 0);
}

#close-portfolio{
    position: absolute;
    top: 0;
    right: 0;
}
/*    <~~~ PROJECT ABOUT end ~~~~   */

/*    ~~~~ PORTFOLIO end ~~~>   */



/*    ~~~~ ABOUT US start ~~~>   */

.about-description{
    width: 90%;
    margin: 2%;
    padding: 2% 3%;
    text-align: justify;
    background: rgba(34, 34, 34, 0.541);
    color: white;
}
.about-description > h1{
    text-align: center;
}
.about-main{
    width: 90%;
    margin: 2%;
    padding: 2% 3%; 
    height: 100%;
    background: rgba(34, 34, 34, 0.541);
    color: white;

}
.about-main > h1{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
}
#about-submain{
    width: 100%;
    margin: 0 0 3% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-developer{
    width: 40%;
    margin: 1% 0;
    padding: 1% 0;
    border-radius: 2%;
    font-size: 0.9em;
    text-align: center;
}
.about-developer:hover{
    cursor: pointer;
    color:#DDDDDD;
    border-color:#DDDDDD;
    background:#dddddd25;
}
.about-developer > a:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    background: rgba(187, 187, 187, 0.384);
}
.about-developer > img{
    width: 70%;
    height: auto;
    margin: 0;
    border-radius: 50%;
}
.about-developer > h1{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
.about-developer > p{
    margin: 0;
    padding: 0;
}
.persondiv {
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.432);
    display: none;
}
.person-content{
    background: rgba(255, 255, 255, 0.900);
    width: 100%;
    height: auto;
    position: fixed;
    padding: 0;
    margin:0;
    z-index: 2;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    max-height: 100%;
}

.person-portrait{
    width: 80%;
    height: auto;
    margin: 5% 10%;
    display: flex;
    justify-content: center;
}
.person-content-right > h2, .person-content-right > h3, .person-content-right > p{
    width: 100%;
    padding: 0;
    margin: 0;
}
.person-content-right > h2{
    text-align: center;
}
.person-content-right > hr{
    width: 60%;
    color: rgb(0, 0, 0);
}
.person-content-right{
    width: 80%;
    height: auto;
    margin: 1% 0 1% 1%;
    padding: 1% 4%;
    right: 0px;
    top: 0px;
    text-align: justify;
    justify-content: center;
}
#close-person{
    position: absolute;
    top: 0;
    right: 0;
}
.fa-times{ 
    margin: 0.1em 0.3em;
    padding: 0;
    color: rgb(78, 78, 78); 
    font-size: 2em;  
}
.skills{
    padding: 0;
    margin: 0;
}
.skills > p{
    padding: 0;
    margin: 2% 0 0 0; 
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
.skill-meter{
    width:100%;
    color: white;
    font-weight: bold;
    background-color: rgba(138, 133, 133, 0.507);
}
.java-skills{
    background-color: #4CAF50;
    text-align: right;
}
.html-skills{
    background-color: #2196F3;
    text-align: right;
}
.javascript-skills{
    background-color: #f321bf;
    text-align: right;
}
.css-skills{
    background-color: #5f5e5e;
    text-align: right;
}
.sql-skills{
    background-color: #f44336;
    text-align: right;
}
.photoshop-skills{
    background-color: #e78402;
    text-align: right;
}

/*    ~~~~ ABOUT US end ~~~>   */

/*    <~~~ start CONTACT ~~~~   */
#contactTitle{
    text-align: center;
    display: none; 
}
.contactPage{
    display: block;
}
.contactPage > div {
    background: rgba(34, 34, 34, 0.541);
    width: 80%;
}
.contactLeft{
    padding: 1em 2em 0.5em 1.5em;
    margin: 1em auto; 
}    
.contactRight {
    padding: 1em 2em 0.5em 1.5em;
    margin: 1em auto; 
}
.contactLabel{
    color: #FFFFFF;
}
.contactInfo{
    display: flex;
}
.contactForm{
    width: 100%;
    margin-bottom: 1em;
    font-family: inherit;
    opacity: 75%;
    font-size: 0.9em;
}
.contactInfo > div {
    margin: 0;
    padding: 0.5em;
    width: 33%;
    color: #fff;
}
.contactInfo > div > h3{
    margin: 0;
    font-size: 0.9em;
}
.contactInfo > div > p{
    font-size: 0.9em;
}
#contactSubmit {
    width: 8em;
    height: 3em; 
    display: inline-block;
    padding: 0.5em 0;
    margin: 1.5em 0;
    border: 0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
    border-color: rgb(255, 255, 255);
    text-align: center;
    transition: all 0.15s;
    background: rgba(255, 255, 255, 0.257);
}
#contactSubmit:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    background:#dddddd25;
    cursor: pointer;
}
#contactSubmit:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    background: rgba(187, 187, 187, 0.384);
}
.contactMap{
    text-align: center;
    margin-top: 1.2em; 
}

.contactError{ 
    color:rgb(243, 127, 127);
    float:right;
}
.contactOk{
    color:rgb(0, 221, 7);
    float:right;
}

/*    ~~~~ CONTACT end ~~~>   */


/* start of Desktop-page: */
@media screen and (min-width: 768px) { 

    /*  <~~~ NAVIGATION desktop start~~~~   */    
    nav{
        visibility: visible;
        display: inline-block;
        margin: 0 auto;
        width: 60%;
    }
    .navDesktop{
        visibility: visible;
        display: inline-block;
        margin: 0 auto;
        width: 60%;
    }
    .navBar-left{
        width: 20%;
    }
    #header-logo{
        width: 200px;
    }
    .navBar-center{
        display: none;
        visibility: hidden;
    }
    .navBar-right{
        display: none;
        visibility: hidden;
        width: 20%;
    }
    nav > ul{
        width: auto;
    }
    
    /*    ~~~~ NAVIGATION desktop end ~~~>   */

    /*    <~~~ PORTFOLIO desktop start ~~~~   */
    .portfolioMain{
        flex-direction: row;
    }
    .portfolioLeft, .portfolioRight{
        margin: 15% 1%;
    }
    #portfolioGroup{
        flex-direction: row;
        align-items: stretch;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    div.subPortfolio { 
        width: 20%; 
        margin: 1%;
        min-width: 250px;
        max-height: 400px;
    }

    /* Denna behöver ses över - texten wrapar inte korrekt? Hur blir detta om bilderna är
       olika stora? */

    .subPortfolio > p{
        margin: 0% 5%;
        /* max-height: 50%;  */
        display: inline-block;
        width: (20%); 
        overflow:hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;

        /* word-wrap: hidden; */
    }
    /* Behöver vi ange en fast höjd för bilderna? Bilderna försjkuter texten annars?? 
       Bilderna blir komprimerade om vi anger fasta värden, se över hur texten under
       reagerar på att bilder är olika stora. */

    .project-image{
        /* height: 140px;
        width: 200px;
        object-fit: cover; */
    }

    .project-content{
        width: 70%;
        height: auto;
        margin: 4% 15%;
    }
    .slideshow-image{
        width: 50%;
        margin: 7% 0 2% 0;
    }

    /*    ~~~~ PORTFOLIO desktop end ~~~>   */



    /*    ~~~~ ABOUT US desktop start ~~~>   */

    .about-description{
        width: 40%;
        margin: 3% 28%;
        padding: 1% 2%;
    }
    .about-main{
        width: 40%;
        margin: 3% 28%;
        padding: 1% 2%;
    }
    .about-developer{
        width: 23%;
    }
    .person-content{
        width: 70%;
        margin: 4% 15%;
        padding: 2%;
        justify-content: left;
        text-align: left;
        float: left;
        flex-wrap: nowrap;
    }
    .person-portrait{
        width: 90%;
        margin: 25% 5% 0 5%;
    }
    .person-content-right > hr{
        width: 80%;
        margin: 2% 15%;
    }
    .person-content-right{
        margin: 2%;
        padding: 0;
    }
    .person-content-right > p {
        margin:2%
    }
    .skills{
        width: 100%;
        margin: 2%;
    }
    .skills > p{
        padding: 1% 0;
        margin: 0; 
    }
    /*    ~~~~ ABOUT US desktop end ~~~>   */

    
    /*    <~~~ FOOTER desktop start ~~~~     */
    .fa-envelope, .fa-phone, .fa-instagram, .fa-facebook-f{ 
        font-size: 2em;  
    }
    .footer_left{
        width:20%;
        margin: 0 0 0 0;
        float: left; 
        text-align: center;
    }
    .footer_center{
        width:60%;
        margin: 0 0 0 0;
        float:left;
        display: grid;
        place-items:center;
        text-align: center;
    }
    .footer_right{
        width:20%;
        margin: 0 0 0 0;
        float: right;
        text-align: center;
    }
    /*    ~~~~ FOOTER desktop end ~~~>   */
    

    #welcome > h1{
        font-size: 6em;
    }
    .welcome-buttons > a{
        width: 15em;
    }

    /* Contact start */
    #contactTitle{
        display: block; 
    }
    .contactPage{
        display: flex;
    }
    .contactPage > div {

        width: 50%;
    }
    .contactLeft{
        padding: 1em 2em 0.5em 1.5em;
        margin: 1em 1em 1em 5em;
    }    
    .contactRight {
        padding: 1em 2em 0.5em 1.5em;
        margin: 1em 5em 1em 1em;
    }   
    
    /* Contact end */

}/* end of Desktop-page */